.purple {
    background-color: #704E6F;
    color:white;
  }
  .purple:hover{
    background-color: #212529;
    color: #704E6F
  }
.dark-purple{
  background-color: #1D191A;
}
.purple-btn{
    background-color: #704E6F;
    color:white;
}
.purple-btn:hover{
    background-color: white;
    color: #704E6F;
}
.purple-head{
    background-color: #704E6F;
    background-image: url("../public/cracks.jpg");
    background-blend-mode:multiply;
    background-size: cover;
}
.texture{
  background-color: #704E6F;
  background-image: url("../public/waves.jpg");
  background-blend-mode:luminosity;
  background-size:cover;
}

.text-purple{

  color: #704E6F
}
.text-purple :hover{
  color: white;
}
  
.black{
  color: #1D191A;
}
h1 :hover{
    color: white;
}

.img-alt{
  color: white;
  border: 1px solid white;
  border-radius: 1rem;
  padding: 1rem;
  margin: .5rem;
  background-color: #704E6F;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../public/waves.jpg");
  background-blend-mode:luminosity;
  background-size:cover;

}

img{
  display: flex;
  justify-content: center;
  align-items: center;

}

link :hover{
  color: white;
}

a:hover {
  color:white;
}